<div class="pull-right hidden-xs">
	<b>Version</b> v<%= Phcmembers::VERSION %> - 07-12-<%= Date.today.year %>
</div>
<strong><%= link_to "https://phcmembers.com", target: "_blank", rel: "nofollow" do %>PHCMembers 2017<% end %> &copy; 2012-<%= Time.now.year %></strong>
