<%= form_for(modules_dashboard) do |f| %>
  <% if modules_dashboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(modules_dashboard.errors.count, "error") %> prohibited this modules_dashboard from being saved:</h2>

      <ul>
      <% modules_dashboard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
