<!-- Bread Crumbs -->
<div class="row">
	<div class="col-lg-12">
		<h2>Member's Information</h2>
		<ol class="breadcrumb">
			<li><%= link_to "Home", members_root_path %></li>
			<li><%= link_to "Members List", members_mains_path %></li>
			<li><%= link_to "Members Listings", members_main_contacts_path %></li>
		</ol>
	</div>
</div>

<!-- Main Content -->
<div class="wrapper wrapper-content">
	<div class="panel panel-primary">
		<div class="panel-heading">
			Create a New Listing
		</div>
		<div class="panel-body">
			<%= render 'form' %>
		</div>
	</div>
</div>
