<!-- Bread Crumbs -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Member's Information</h2>
		<ol class="breadcrumb">
			<li>
				<%= link_to mtdevise.account_root_path, class: "nav-link" do %>
					Home
				<% end %>
			</li>
			<li>
				<%= link_to main_app.members_mains_path, class: "nav-link" do %>
					Members List
				<% end %>
			</li>
			<li class="active">
				Create a New Member
			</li>
		</ol>
	</div>
	<div class="col-lg-2">
	</div>
</div>

<!-- Main Content -->
<div class="wrapper wrapper-content">
	<div class="panel">
		<div class="panel-heading">
			<h2><i class="fa fa-lightbulb-o"></i>  Create a New Member</h2> <p>- Create a new member with an initial set of vital contact information.</p>
		</div>
		<div class="panel-body">
			<%= render 'form' %>
		</div>
	</div>
</div>