<%= form_for(directory_listing) do |f| %>
  <% if directory_listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(directory_listing.errors.count, "error") %> prohibited this directory_listing from being saved:</h2>

      <ul>
      <% directory_listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
