<ul class="list-group">
	<% @directory_category.listings.each do |directory_category_listings| %>
		<li class="list-group-item">
			<%= link_to directory_category_listings.business.mbcompanyname, directory_category_listings_path(@directory_category)  %>
		</li>
	<% end %>
</ul>