<div class="ibox">
	<div class="ibox-content text-center">

		<h1><%= @directory_category.catname %></h1>

		<div class="text-center">
			<%= link_to edit_directory_category_path(@directory_category), class: "btn btn-sm btn-primary" do %>
				<i class="fa fa-pencil-square-o"></i> Update
			<% end %>
			<%= link_to @directory_category, method: :delete, data: { confirm: 'Are you sure? You will also remove all listing connections to that category. The category will also be removed from your online web directory.' }, class: "btn btn-sm btn-danger" do %>
				<i class="fa fa-trash-o"></i> Delete
			<% end %>
		</div>

	</div>
</div>
