<div class="col-md-6">
	<div class="card">
		<div class="card-header">
			<%= @member_profile.mfirstname + ' ' + @member_profile.mlastname + ' ' + @member_listing.mbcompanyname %>
		</div>
		<div class="card-block">
			<%= render 'phcmembers/member/listings/components/listing_address' %>
		</div>
	</div>
</div>

<div class="col-md-6">
	<div class="card">
		<div class="card-header">
			<%= @member_profile.mfirstname + ' ' + @member_profile.mlastname + ' ' + @member_profile.mbcompanyname %> Business Change Logs
		</div>
		<div class="card-block">
			<%= render 'phcmembers/member/listings/components/listing_audits' %>
		</div>
	</div>
</div>
