<!DOCTYPE html>
<html>
	<head>
		<title>Phcmember</title>
			<%= stylesheet_link_tag    "phcmember/application", media: "all" %>
			<%= javascript_include_tag "phcmember/application" %>
			<%= csrf_meta_tags %>
	</head>
	<body>
		<%= yield %>
	</body>
</html>
