<!-- Bread Crumbs -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<h2>Directory Category Information</h2>
		<ol class="breadcrumb">
			<li><%= link_to "Home", directory_root_path %></li>
			<li><%= link_to "Directory Categories", directory_categories_path %></li>
			<li class="active">Update Directory Category</li>
		</ol>
	</div>
</div>

<!-- Main Content -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Update Directory Category
			</div>
			<div class="panel-body">
				<%= render 'layouts/phcnotifi/components/notifications' %>
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>
