<p id="notice"><%= notice %></p>

<p>
  <strong>Catname:</strong>
  <%= @directory_category.catname %>
</p>

<%= link_to 'Edit', edit_directory_category_path(@directory_category) %> |
<%= link_to 'Back', directory_categories_path %>
