<%= form_for(directory_categorylisting) do |f| %>
  <% if directory_categorylisting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(directory_categorylisting.errors.count, "error") %> prohibited this directory_categorylisting from being saved:</h2>

      <ul>
      <% directory_categorylisting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
