<h1>Editing Directory Categorylisting</h1>

<%= render 'form', directory_categorylisting: @directory_categorylisting %>

<%= link_to 'Show', @directory_categorylisting %> |
<%= link_to 'Back', directory_categorylistings_path %>
