<div class="col-md-6">
	<div class="card">
		<div class="card-header">
			Recent Listings for <%= @directory_category.catname %>
		</div>
		<div class="card-block">
			<%= render 'phcmemberspro/directory/listings/components/listing_list' %>
		</div>
	</div>
</div>

<div class="col-md-6">
	<div class="card">
		<div class="card-header">
			Category Change Log
		</div>
		<div class="card-block">
			<%= render 'phcmemberspro/directory/listings/components/listing_audits' %>
		</div>
	</div>
</div>
