<h1>Editing Connections Memberlisting</h1>

<%= render 'form', connections_memberlisting: @connections_memberlisting %>

<%= link_to 'Show', @connections_memberlisting %> |
<%= link_to 'Back', connections_memberlistings_path %>
