<!-- Start load Slideout Template Files From main_app -->
<div class="container">
	<div class="row">

		<div class="col-md-3">
			<%= render 'layouts/components/frontend/header/slideout_text' %>
		</div>

		<div class="col-md-3">
			<h6><i class="icon-attachment"></i> A PHCNETWORKS COMPANY</h6>
			<ul class="list-unstyled">
				<%= render 'layouts/components/frontend/header/slideout_links' %>
			</ul>
		</div>

		<div class="col-md-6">
			<%= render 'layouts/components/frontend/header/slideout_address' %>
		</div>

	</div>
</div>

<%= link_to "", "#", class: "slidetop-toggle" %>
<!-- End load Slideout Template Files From main_app -->
