<!-- Start load User Topbar Template Files From main_app -->
<div class="container">

	<!-- Top Bar Right -->
	<ul class="top-links list-inline pull-right">
		<%= render 'layouts/components/frontend/header/topbar_user_links' %>
	</ul>
	<!-- End Top Bar Right -->

	<!-- Top Bar Left -->
	<ul class="top-links list-inline">
		<%= render 'layouts/components/frontend/header/topbar_main_links' %>
	</ul>
	<!-- End Top Bar Left -->

</div>
<!-- End load User Topbar Template Files From main_app -->
