<!DOCTYPE html>
<html>
	<head>
		<title>PHCMembers - Web Directory & Listings Manager</title>
			<%= stylesheet_link_tag    "phcmembers/application", media: "all" %>
			<%= javascript_include_tag "phcmembers/application" %>
			<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>
