<!-- Bread Crumbs -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Directory Category Information</h2>
		<ol class="breadcrumb">
			<li>
				<%= link_to mtdevise.account_root_path, class: "nav-link" do %>
					Home
				<% end %>
			</li>
			<li>
				<%= link_to main_app.directory_categories_path, class: "nav-link" do %>
					Directory Categories
				<% end %>
			</li>
			<li class="active">
				<a>Create a Directory Category</a>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">
	</div>
</div>

<!-- Main Content -->
<div class="wrapper wrapper-content">
	<div class="panel">
		<div class="panel-heading">
			<h2><i class="fa fa-lightbulb-o"></i> Create a New Category</h2> <p>- Create a new directory category for your member's directory. Changes will be saved instantly.</p>
		</div>
		<div class="panel-body">
			<%= render 'form' %>
		</div>
	</div>
</div>
