<header id="topNav">
	<div class="container">

		<!-- Mobile Navigation -->
		<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
			<i class="fa fa-bars"></i>
		</button>
		<!-- Mobile Navigation -->

		<!-- Logo -->
		<%= link_to main_app.root_path, class: "logo pull-left phc_logo" do %>
			<%= ENV["PHC_SITE_BRAND_NAME"] %>
		<% end %>
		<!-- Logo -->

		<!-- Loads Main Navigation Template from main_app -->
		<div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
			<nav class="nav-main">
				<ul id="topMain" class="nav nav-pills nav-main">
					<%= render 'layouts/components/frontend/navigation/navigation_links' %>
				</ul>
			</nav>
		</div>
		<!-- Loads Main Navigation Template File from main_app -->

	</div>
</header>
