<%= form_for(members_main) do |f| %>
  <% if members_main.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(members_main.errors.count, "error") %> prohibited this members_main from being saved:</h2>

      <ul>
      <% members_main.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
