<h1>Editing Connections Categorylisting</h1>

<%= render 'form', connections_categorylisting: @connections_categorylisting %>

<%= link_to 'Show', @connections_categorylisting %> |
<%= link_to 'Back', connections_categorylistings_path %>
