<div class="scroller" style="height: 320px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
	<ul class="list-group feeds">
		<% @member_profile_versions.each do |member_profile_version| %>
			<li class="list-group-item">
				<i class="fa fa-bell-o fa-fw"></i> Member Profile Event #<%= member_profile_version.id %> - <strong><%= member_profile_version.event.capitalize + ' ' + @member_profile.mfirstname + ' ' + @member_profile.mlastname + ' Profile' %></strong> - on <i><%= l(member_profile_version.created_at, format: "%-d/%m/%Y") %></i> at <i><%= l(member_profile_version.created_at, format: "%H:%M %Z") %></i>
			</li>
		<% end %>
	</ul>
</div>
