<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<%= @member_profile.mfirstname + ' ' + @member_profile.mlastname %> Member Stats
			</div>
			<div class="panel-body">
				<%= render 'phcmembers/member/profiles/components/profile_sidebar' %>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<%= @member_profile.mfirstname + ' ' + @member_profile.mlastname %> Information Change Log
			</div>
			<div class="panel-body">
				<%= render 'phcmembers/member/profiles/components/profile_audits' %>
			</div>
		</div>
	</div>
</div>
