<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>Company Name</th>
				<th>Conact Name</th>
				<th>City</th>
				<th>Business Phone</th>
			</tr>
		</thead>
		<tbody>
			<% @member_profile.listings.each do |member_profile_listing| %>
				<tr>
					<td class="highlight"><%= member_profile_listing.mbcompanyname %></td>
					<td class="highlight"><%= member_profile_listing.mbcontactname %></td>
					<td class="highlight"><%= member_profile_listing.mbcity %></td>
					<td class="highlight"><%= member_profile_listing.mbphone %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
