<div class="col-md-6">
	<div class="card">
		<div class="card-header">
			<%= @members_main.mfirstname + ' ' + @members_main.mlastname %> Address
		</div>
		<div class="card-block">
			<%= render 'phcmembers/members/contacts/components/contact_address' %>
		</div>
	</div>
</div>

<div class="col-md-6">
	<div class="card">
		<div class="card-header">
			<%= @members_main.mfirstname + ' ' + @members_main.mlastname %> Address Change Log
		</div>
		<div class="card-block">
			<%= render 'phcmembers/members/contacts/components/contact_audits' %>
		</div>
	</div>
</div>
