<p id="notice"><%= notice %></p>

<p>
  <strong>Maaddressl1:</strong>
  <%= @member_address.maaddressl1 %>
</p>

<%= link_to 'Edit', edit_member_address_path(@member_address) %> |
<%= link_to 'Back', member_addresses_path %>
